PORT=8000
NODE_ENV=development
# Development Database (Localhost)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/wallet-dev?appName=wallet
# Production uses: mongodb+srv://<username>:<password>@cluster.mongodb.net/wallet?appName=wallet
JWT_SECRET=your_jwt_secret_key_here
